* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(46, 34, 38);
    color: rgb(240, 222, 227);
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px; 
}

.container * {
    margin: 10px; 
}
button{
    padding: 10px;
    color: black;
    border-radius: 5px;
    border: none;
    font-family:'Courier New', Courier, monospace;
}
input{
    height: 40px;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
}

#createBtn:hover{
    background-color: rgb(244, 134, 126);
    cursor: pointer;
    color: rgb(255, 254, 254);
}
#updateBtn:hover{
    cursor: pointer;
    color: rgb(252, 251, 251);
    background-color: rgb(226, 228, 100);
}
#deleteBtn:hover{
    cursor: pointer;
    color: rgb(252, 251, 251);
    background-color: rgb(104, 179, 219);
}
#readBtn:hover{
    cursor: pointer;
    color: rgb(252, 251, 251);
    background-color: rgb(113, 223, 135);
}

#BackBtn:hover{
    cursor: pointer;
    color: rgb(252, 251, 251);
    background-color: rgb(11, 11, 11);
}
.positions{
margin-right: 800px;
margin-top: 60px;
}

.small-icon {
    font-size: 16px;
    cursor: pointer; 
    transition: color 0.3s;
}

/* Change color of the icon on hover */
.small-icon:hover {
    color: rgb(234, 88, 88); /* Change the color to red on hover */
}
